src/conf/xml-resources/web-service-references/CIDER_WebServices/wsdl/localhost_13439/webTestApplication/CIDER_WebServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="CIDER_WebServices">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:13439/webTestApplication/CIDER_WebServices?xsd=1"/>
</xsd:schema>
</types>
<message name="getEntidadesLabels">
<part name="parameters" element="tns:getEntidadesLabels"/>
</message>
<message name="getEntidadesLabelsResponse">
<part name="parameters" element="tns:getEntidadesLabelsResponse"/>
</message>
<message name="getVariableLabels">
<part name="parameters" element="tns:getVariableLabels"/>
</message>
<message name="getVariableLabelsResponse">
<part name="parameters" element="tns:getVariableLabelsResponse"/>
</message>
<message name="getVariableOptions">
<part name="parameters" element="tns:getVariableOptions"/>
</message>
<message name="getVariableOptionsResponse">
<part name="parameters" element="tns:getVariableOptionsResponse"/>
</message>
<message name="ArrayListToJSONArray">
<part name="parameters" element="tns:ArrayListToJSONArray"/>
</message>
<message name="ArrayListToJSONArrayResponse">
<part name="parameters" element="tns:ArrayListToJSONArrayResponse"/>
</message>
<message name="numCentros">
<part name="parameters" element="tns:numCentros"/>
</message>
<message name="numCentrosResponse">
<part name="parameters" element="tns:numCentrosResponse"/>
</message>
<message name="numEntidades">
<part name="parameters" element="tns:numEntidades"/>
</message>
<message name="numEntidadesResponse">
<part name="parameters" element="tns:numEntidadesResponse"/>
</message>
<message name="getCentro">
<part name="parameters" element="tns:getCentro"/>
</message>
<message name="getCentroResponse">
<part name="parameters" element="tns:getCentroResponse"/>
</message>
<message name="getEntidad">
<part name="parameters" element="tns:getEntidad"/>
</message>
<message name="getEntidadResponse">
<part name="parameters" element="tns:getEntidadResponse"/>
</message>
<message name="getCentroLabels">
<part name="parameters" element="tns:getCentroLabels"/>
</message>
<message name="getCentroLabelsResponse">
<part name="parameters" element="tns:getCentroLabelsResponse"/>
</message>
<message name="getVariable">
<part name="parameters" element="tns:getVariable"/>
</message>
<message name="getVariableResponse">
<part name="parameters" element="tns:getVariableResponse"/>
</message>
<message name="parseJSONArray">
<part name="parameters" element="tns:parseJSONArray"/>
</message>
<message name="parseJSONArrayResponse">
<part name="parameters" element="tns:parseJSONArrayResponse"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="getConnectionBetweenEntities">
<part name="parameters" element="tns:getConnectionBetweenEntities"/>
</message>
<message name="getConnectionBetweenEntitiesResponse">
<part name="parameters" element="tns:getConnectionBetweenEntitiesResponse"/>
</message>
<portType name="CIDER_WebServices">
<operation name="getEntidadesLabels">
<input wsam:Action="http://services/CIDER_WebServices/getEntidadesLabelsRequest" message="tns:getEntidadesLabels"/>
<output wsam:Action="http://services/CIDER_WebServices/getEntidadesLabelsResponse" message="tns:getEntidadesLabelsResponse"/>
</operation>
<operation name="getVariableLabels">
<input wsam:Action="http://services/CIDER_WebServices/getVariableLabelsRequest" message="tns:getVariableLabels"/>
<output wsam:Action="http://services/CIDER_WebServices/getVariableLabelsResponse" message="tns:getVariableLabelsResponse"/>
</operation>
<operation name="getVariableOptions">
<input wsam:Action="http://services/CIDER_WebServices/getVariableOptionsRequest" message="tns:getVariableOptions"/>
<output wsam:Action="http://services/CIDER_WebServices/getVariableOptionsResponse" message="tns:getVariableOptionsResponse"/>
</operation>
<operation name="ArrayListToJSONArray">
<input wsam:Action="http://services/CIDER_WebServices/ArrayListToJSONArrayRequest" message="tns:ArrayListToJSONArray"/>
<output wsam:Action="http://services/CIDER_WebServices/ArrayListToJSONArrayResponse" message="tns:ArrayListToJSONArrayResponse"/>
</operation>
<operation name="numCentros">
<input wsam:Action="http://services/CIDER_WebServices/numCentrosRequest" message="tns:numCentros"/>
<output wsam:Action="http://services/CIDER_WebServices/numCentrosResponse" message="tns:numCentrosResponse"/>
</operation>
<operation name="numEntidades">
<input wsam:Action="http://services/CIDER_WebServices/numEntidadesRequest" message="tns:numEntidades"/>
<output wsam:Action="http://services/CIDER_WebServices/numEntidadesResponse" message="tns:numEntidadesResponse"/>
</operation>
<operation name="getCentro">
<input wsam:Action="http://services/CIDER_WebServices/getCentroRequest" message="tns:getCentro"/>
<output wsam:Action="http://services/CIDER_WebServices/getCentroResponse" message="tns:getCentroResponse"/>
</operation>
<operation name="getEntidad">
<input wsam:Action="http://services/CIDER_WebServices/getEntidadRequest" message="tns:getEntidad"/>
<output wsam:Action="http://services/CIDER_WebServices/getEntidadResponse" message="tns:getEntidadResponse"/>
</operation>
<operation name="getCentroLabels">
<input wsam:Action="http://services/CIDER_WebServices/getCentroLabelsRequest" message="tns:getCentroLabels"/>
<output wsam:Action="http://services/CIDER_WebServices/getCentroLabelsResponse" message="tns:getCentroLabelsResponse"/>
</operation>
<operation name="getVariable">
<input wsam:Action="http://services/CIDER_WebServices/getVariableRequest" message="tns:getVariable"/>
<output wsam:Action="http://services/CIDER_WebServices/getVariableResponse" message="tns:getVariableResponse"/>
</operation>
<operation name="parseJSONArray">
<input wsam:Action="http://services/CIDER_WebServices/parseJSONArrayRequest" message="tns:parseJSONArray"/>
<output wsam:Action="http://services/CIDER_WebServices/parseJSONArrayResponse" message="tns:parseJSONArrayResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://services/CIDER_WebServices/parseJSONArray/Fault/ParseException"/>
</operation>
<operation name="getConnectionBetweenEntities">
<input wsam:Action="http://services/CIDER_WebServices/getConnectionBetweenEntitiesRequest" message="tns:getConnectionBetweenEntities"/>
<output wsam:Action="http://services/CIDER_WebServices/getConnectionBetweenEntitiesResponse" message="tns:getConnectionBetweenEntitiesResponse"/>
</operation>
</portType>
<binding name="CIDER_WebServicesPortBinding" type="tns:CIDER_WebServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getEntidadesLabels">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVariableLabels">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVariableOptions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ArrayListToJSONArray">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="numCentros">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="numEntidades">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCentro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEntidad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCentroLabels">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVariable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="parseJSONArray">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="getConnectionBetweenEntities">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CIDER_WebServices">
<port name="CIDER_WebServicesPort" binding="tns:CIDER_WebServicesPortBinding">
<soap:address location="http://localhost:13439/webTestApplication/CIDER_WebServices"/>
</port>
</service>
</definitions>